.red-text {
  color: #f46d6d;
}

.red-background {
  background-color: #f46d6d;
  color: #fff;
}

.green-text {
  color: #66db7f;
}

.green-background {
  background-color: #66db7f;
  color: #fff;
}

@font-face {
  font-family: "Tahoma";
  src: url("../public/assets/fonts/tahoma.ttf");
}
